<%= form_for([@post, @comment]) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :commenter, :placeholder => "User"  %>
  </p>
  <p>
    <%= form.text_area :content, :placeholder => "Body"  %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
<%= link_to 'Delete Comment',[@comment.post, @comment], method: :delete,
  data: { confirm: 'You are about to delete your comment. Continue?' } %>
