<div id="accountbackground"></div>

<div id="accountInfo">
  <h1 id="userAccount">
    <%=@user.username %>'s Salt Box
  </h1>
</div>

<% @post.each do |p| %>
  <div id="accountPost">
    <p id="ptitle">
      <%= p.title %>
      <% if session[:user_id] == @user.id %>
        <%= link_to 'Edit Post', edit_post_path(p), :id => "editPost" %>
      <% end %>
    </p>
    <p id="pcontent">
      <%= p.content%>
    </p>
  </div>
<% end %>

<% puts "current sess = #{session[:user_id]}" %>
<% if session[:user_id] == @user.id %>
  <%= link_to "Create Post", new_post_path,:id => "createPost" %>
  <%= link_to "Delete Account", users_path, :id => "deleteAccount", method: :delete %>
<% end %>
<%=image_tag("Salt.png", :class => "shaker") %>
