<h1>Edit</h1>
 <div class="posteditform">
<%= form_for :post, url: post_path(@post), method: :patch do |post| %>
  <p>
    <%= post.text_field :title, :placeholder => "Title", :class=> "postTitle" %>
  </p>
  <p>
    <%= post.text_area :content, :placeholder => "Body", :class=> "postBody"  %>
  </p>
  <p>
    <%= post.submit "Save Post", :class => "postSubmit" %>
  </p>
<% end %>
</div>

<%= link_to 'Back to Account',user_path(session[:user_id]), :class => "backUser" %>
