<% @posts.each do |post| %>
  <p><strong> <%= post.title %> </strong></p>
  <!-- <p>  <%= post.content %> |</p> -->
  <p>
    <%= link_to "View", post_path(post) %> |
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to "Delete", post_path(post),method: :delete,
    data: { confirm: "You are about to delte this post. Would you like to continue?"} %>
  </p>
 <% end %>
