<div id="postContainer">
  <p id="thepostTitle">
    <%= @post.title %>
  </p>
  <p id="thepostContent">
    <%= @post.content %>
  </p>
  <h3 id="comments">
    Comments
  </h3>
  <% @post.comments.each do |comment| %>
    <p id="userCommentsTitle">
      <%= comment.commenter %>
    </p>
        <%= link_to 'Edit Comment', edit_post_comment_path(@post, comment), :class => "editComment" %>
  <% end %>
  <h3 id="addComment">
    Add a comment:
  </h3>
  <%= form_for([@post, @post.comments.build]) do |form| %>
    <p>
      <%= form.text_area :commenter, :placeholder => "Comment",:class=> "commentTitle" %>
    </p>
    <p>
      <%= form.submit "Save Comment", :class => "commentSubmit" %>
    </p>
  <% end %>

  <% if session[:user_id] == @post.user_id %>
    <%= link_to "Delete Post", post_path, method: :delete,
    data: { confirm: 'You are about to delete your post. Continue?' }, :class => "deletepost" %>
    <%= link_to 'Back to Account',user_path(current_user), :class => "backUser" %>
  <% end %>
</div>
