<!DOCTYPE html>
  <html>
    <head>
      <title>Salty</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto:500" rel="stylesheet"
    </head>
    <a id="home" href="/">Home</a>
    <% if logged_in %>
        <%= link_to "Log Out", logout_path,  method: :delete , :class => "logout" %>
        <%= link_to "Your Account", user_path(session[:user_id]), :class => "account" %>
    <% else %>
        <%= link_to "SignUp", new_user_path , :class => "signup" %>
        <%= link_to "LogIn", login_path , :class => "login"%>
    <% end %>
    <nav>
      <%=image_tag("shaker.png", :id => "shakey") %>
      <%=image_tag("fallingsalt.png", :id => "falling") %>
      <p id="nav_header">Salty</p>
    </nav>
    <body>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>

      <%= yield %>

    </body>
  </html>

  <!-- I can create/delete user /create/edit/delete post / edit/create comment define sessions-->
  <!--Need to hide delete from non-user/ Need to delete comment/ Add flash notice for all successes/style make homepage  -->
